<div class="columns my-2 is-mobile">
	<div class="column is-1"></div>
	<div class="column">
		<div id="content" class="container">
			<!-- content -->
		</div>
	</div>
	<div class="column is-1"></div>
</div>

<br>
<br>

<nav id="custom-foot" class="navbar is-fixed-bottom" role="navigation">
    <div class="navbar-brand">
        <a id="content" href="#!" class="navbar-item is-expanded is-block has-text-centered">
            <!-- content -->
        </a>
    </div>
</nav>

<nav id="default-foot" class="navbar is-fixed-bottom" role="navigation">
    <div class="navbar-brand">
        <a href="#!" class="navbar-item is-expanded is-block has-text-centered">
            <i class="fa fa-2x fa-book"></i>
            <p class="is-size-7">Lesson</p>
        </a>
        <a href="#!" class="navbar-item is-expanded is-block has-text-centered">
            <i class="fa fa-2x fa-line-chart"></i>
            <p class="is-size-7">Progress</p>
        </a>
        <a href="#!" class="navbar-item is-expanded is-block has-text-centered">
            <i class="fa fa-2x fa-comments-o"></i>
            <p class="is-size-7">Community</p>
        </a>
    </div>
</nav>
